@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace mil "pl.milionerzy.*";

#menu s|Label
{
	fontSize: 15;
	fontWeight: bold;
	fontFamily: arial;
	color: white;
}

#kolaRatunkowe s|Button
{
	skinClass: ClassReference("pl.milionerzy.skins.KoloRatunkowe");
}

#halfOnHalf
{
	koloRatunkowe: Embed("images/PolNaPol.png");
}

#phone
{
	koloRatunkowe: Embed("images/Telefon.png");
}

#publicc
{
	koloRatunkowe: Embed("images/Publicznosc.png");
}